:root {
  --bgColorSentence: rgba(238, 238, 238, 0.5);
  --textColorSentence: purple;
  --bgWordSearch: rgba(158, 158, 158, 0.5);
  --linkColor: goldenrod;
}

.menu-item{
  border: none!important;
  font-size: .85rem;
}

.list-video{
  list-style: decimal;
  font-size: .9rem;
}

.list-video li:hover{
  text-decoration: underline;
  color: goldenrod;
  cursor: pointer;
}

.search-transcript{
  font-size: .8rem!important;
}

.sentence{
  font-size: .9rem;
}

.sentence{
  cursor: pointer;
}

.sentence:hover{
  background-color: var(--bgColorSentence);
}

.sentence-active{
  color: var(--textColorSentence);
  background-color: var(--bgColorSentence);
}

.speaker-active{
  box-shadow: 0px 0px 5px purple;
  transform: scale(1.1);
  transition: all ease-in-out;
}

.word-search{
  background-color: var(--bgWordSearch);
}