:root {
  --bgColorSentence: rgba(238, 238, 238, 0.5);
  --textColorSentence: purple;
}

.sentence{
  cursor: pointer;
}

.sentence:hover{
  background-color: var(--bgColorSentence);
}

.sentence-active{
  color: var(--textColorSentence);
  background-color: var(--bgColorSentence);
}

.speaker{
  
}

.speaker-active{

}